{{> _postLogin}}
<div class="container">
    {{> _msg}}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add Sub Category</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form action="/subcategory/edit/{{subcategory._id}}" method="POST">
                <div class="mb-3">
                    <label for="subcategory_name" class="form-label">Parent Category Name</label>
                    <select class="form-control" name="parent_category" required>
                        <option value="">--Please select a Parent Category--</option>
                        {{#each categories}}
                        {{#ifCond this.category.name '==' subcategory.category.name}}
                        <option value="{{this._id}}" selected>{{this.name}}</option>
                        {{else}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/ifCond}}
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="subcategory_name" class="form-label">Sub Category Name</label>
                    <input type="text" class="form-control" required id="name" value="{{subcategory.name}}" name="name">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>