{{> _postLogin}}
<div class="container">
    {{> _msg}}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">View Orders</h3>
            <div class=" clearfix">

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Total Price</th>
                        <th>Is Paid?</th>
                        <th>Delivered?</th>
                        <th>User Name</th>
                        <th>Order Status</th>
                        <th>Tracking Details</th>
                        <th>Order Date</th>
                        <th>Action(s)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>₹{{totalPrice}}</td>
                        {{#if isPaid}}
                        <td><span class="badge badge-success">Yes</span></td>
                        {{else}}
                        <td><span class="badge badge-danger">No</span></td>
                        {{/if}}
                        {{#if isDelivered}}
                        <td><span class="badge badge-success">Yes</span></td>
                        {{else}}
                        <td><span class="badge badge-danger">No</span></td>
                        {{/if}}
                        <td>
                            <p>Name: {{user.name}}
                            </p>
                            <p>Email: {{user.email}}
                            </p>
                        </td>
                        {{#ifCond orderStatus '==' 'Order Placed'}}
                        <td><span class="badge badge-success">{{orderStatus}}</span></td>
                        {{/ifCond}}
                        {{#ifCond orderStatus '==' 'Processing'}}
                        <td><span class="badge badge-warning">{{orderStatus}}</span></td>
                        {{/ifCond}}
                        {{#ifCond orderStatus '==' 'Shipping'}}
                        <td><span class="badge badge-warning">{{orderStatus}}</span></td>
                        {{/ifCond}}
                        {{#ifCond orderStatus '==' 'Delivered'}}
                        <td><span class="badge badge-success">{{orderStatus}}</span></td>
                        {{/ifCond}}
                        {{#ifCond orderStatus '==' 'Failed'}}
                        <td><span class="badge badge-danger">{{orderStatus}}</span></td>
                        {{/ifCond}}
                        {{#ifCond orderStatus '==' 'Cancelled'}}
                        <td><span class="badge badge-danger">{{orderStatus}}</span></td>
                        {{/ifCond}}
                        <td>Not Yet Shipped</td>
                        <td>
                            {{prettifyDate createdAt}}
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm mt-2" href='/order/view/details/{{this._id}}'>View
                                Details</a>
                            <br>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
{{> _modals}}